<app-navigation></app-navigation>

<div id='body'>
	<div class="filler"></div>
	<div class="description">
		<h2>Skyline TSA</h2>
		<p>
			Here at Skyline, TSA’s motto of “Learning to lead in a technical world” is something that we take to heart. Although the Skyline chapter isn’t huge, we are chock-full of talented and creative technological leaders. Skyline TSA is also home to a large, dedicated VEX team.
		</p>
	</div>

	<div class="history">
		<h2>History</h2>
		<p>
			The Skyline TSA chapter was founded in 2014 by our advisor Kenneth Kapptie. Since its inception, Skyline has had great success - with achievements including placing multiple times at both State and National competitions, and being Utah’s Tech Bowl state champions for the past three years. 
		</p>
	</div>

	<div class="filler"></div>

	<div class="officers">
		<div class="officer">
			<div class="zach-img"></div>
			<h3>State Vice President</h3>
			<p>Zach Greenberg</p>
		</div>

		<div class="officer">
			<div class="hayden-img"></div>
			<h3>Chapter President</h3>
			<p>Hayden Soelberg</p>
		</div>

		<div class="officer">
			<div class="pyae-img"></div>
			<h3>Chapter Vice President</h3>
			<p>Pyae (Max) Sone</p>
		</div>

		<div class="officer">
			<div class="raheem-img"></div>
			<h3>Chapter Treasurer</h3>
			<p>Raheem Nimnicht</p>
		</div>
	</div>

</div>

<app-bottominfo></app-bottominfo>