<app-navigation></app-navigation>

<div id="splash">

	<div id="slide-number">
		<button class="back" (click)="back()">🡨</button>

		<div class="slide-number1" id="slide-number1">LISTINGS FOR MODEL ⍺</div>
		<div class="slide-number2" id="slide-number2">LISTINGS FOR MODEL β</div>
		<div class="slide-number3" id="slide-number3">LISTINGS FOR MODEL Ω</div>

		<button class="forward" (click)="forward()">🡪</button>
	</div>

	<div id="car1listings">
		<div id = "listing" class="car1listing1">
			<h3>2015 MODEL ⍺</h3>
			<p>$36,450</p>
			<p>Certified used</p>
			<p>Clean Title</p>
			<p>Red Finish</p>
			<p>Moderately Used</p>
			<p>45,000 Miles</p>
			<div class="learn-more"><a href="car1">Learn More</a></div>
		</div>
		<div id = "listing" class="car1listing2">
			<h3>2017 MODEL ⍺</h3>
			<p>$40,950</p>
			<p>Certified used</p>
			<p>Clean Title</p>
			<p>Forest Green Finish</p>
			<p>Lightly Used</p>
			<p>12,000 Miles</p>
			<div class="learn-more"><a href="car1">Learn More</a></div>
		</div>
		<div id = "listing" class="car1listing3">
			<h3>2019 MODEL ⍺</h3>
			<p>$43,550</p>
			<p>Certified used</p>
			<p>Clean Title</p>
			<p>Cyan Finish</p>
			<p>Lightly Used</p>
			<p>14,232 Miles</p>
			<div class="learn-more"><a href="car1">Learn More</a></div>
		</div>
	</div>

	<div id="car2listings">
		<div id = "listing" class="car2listing1">
			<h3>2020 MODEL β</h3>
			<p>$80,000</p>
			<p>White Finish</p>
			<p>Brand New</p>
			<div class="learn-more"><a href="car2">Learn More</a></div>
		</div>
		<div id = "listing" class="car2listing2">
			<h3>2020 MODEL β</h3>
			<p>$80,000</p>
			<p>Black Finish</p>
			<p>Brand New</p>
			<div class="learn-more"><a href="car2">Learn More</a></div>
		</div>
	</div>

	<div id="car3listings">
		<div id = "listing" class="car2listing1">
			<h3>MODEL Ω</h3>
			<p>COMING SOON...</p>
			<div class="learn-more"><a href="car3">Learn More</a></div>
		</div>
	</div>

</div>

<app-bottominfo></app-bottominfo>