<app-navigation></app-navigation>

<div id="body">
	
	<div class="img1"></div>

	<div class="description">
		<h2 class="description-title">The Model Ω</h2>
		<p class="description-text">
			The Model Ω, ARIN’s take on the SUV, is one of the safest electric vehicles on the market. With an NHTSA safety rating of five stars, an estimated range of 330 miles, and seating for eight people, you and your family can travel in comfort and peace-of-mind anywhere.
		</p>
		<div class="learn-more"><a href="car3/#jump">View Details</a></div>
	</div>

	<div class="img2"></div>

	<div class="specs">
		<a name="jump"></a>
		<div class="spec">
			<h3>95 CUBIC FEET</h3>
			<div class="spec1img"></div>
		</div>

		<div class="spec">
			<h3>0-60 IN 5.5 SECONDS</h3>
			<div class="spec2img"></div>
		</div>

		<div class="spec">
			<h3>332 MILE RANGE</h3>
			<div class="spec3img"></div>
		</div>

	</div>



</div>

<app-bottominfo></app-bottominfo>
