<app-navigation></app-navigation>

<div id='body'>
	<div class="filler"></div>
	<div class="description">
		<h2>Skyline CTE</h2>
		<p>
			Skyline’s Career and Technical Education (CTE) department is a well-developed and still-growing program. The program has been and is still in the process of being cultivated to its full potential under the careful guidance of Kenneth Kapptie(Skyline TSA Chapter Advisor and Founder), Shawn Kennedy(Skyline Graphics Teacher), and auto teacher Chris Nielsen.
		</p>
	</div>

	<div class="history">
		<h2>Courses</h2>
		<p>
			Skyline has a huge array of CTE course options for any and all students, including Advanced Graphics Communications, Computer Programming I & II (IB), Digital Media & Digital Media II, Computer Technology, Exploring Computer Science, Foods, Graphics, Law Enforcement, Sports Medicine CE, Woodworking, and Yearbook.
		</p>
	</div>

	<div class="filler"></div>

	<div class="officers">
		<div class=bigofficer>
			<div class="zach-img"></div>
			<div class="officer">
				<h3>Kenneth Kapptie</h3>
				<p>
					As the advisor for and the founder of the Skyline TSA Chapter, as well as the programming teacher at Skyline High, Kapptie has provided a great deal to the students in the CTE program. Students have made a number of programs that have showcased all they learned under his guidance, such as the popular Bearly Dancing game by Oliver Flatt.
				</p>
			</div>
		</div>
		<div class=bigofficer>
			<div class="hayden-img"></div>
			<div class="officer">
				<h3>Shawn Kennedy</h3>
				<p>
					As a teacher that enables students to get real-world experience making products like t-shirts, stickers, and other physical realizations of digital design, Kennedy has done a great deal for the CTE program. He brought with him to Skyline all his years of experience as an entrepreneur and a worker in the industry and has imparted much of that knowledge into his students. In addition to the knowledge, Kennedy has given CTE students a taste of the work ethic necessary for the jobs his classes give experience, letting students get a real taste in the industry.</p>
			</div>
		</div>
	</div>

</div>

<app-bottominfo></app-bottominfo>