<div id="footer">
    <table id="links">
        <tr>
            <td><a href="car1" id='link'>Model ⍺</a></td>
            <td><a href="inventory" id='link'>Inventory</a></td>
            <td><a href="abouttsa" id='link'>About TSA</a></td>
        </tr>
        <tr>
            <td><a href="car2" id='link'>Model β</a></td>
            <td><a href="news" id='link'>Arin News</a></td>
            <td><a href="aboutskyline" id='link'>About Skyline</a></td>
        </tr>
        <tr>
            <td><a href="car3" id='link'>Model Ω</a></td>
            <td><a href="" id='link'></a></td>
            <td><a href="" id='link'></a></td>
        </tr>

    </table>

    <div>
        <label for="email" id="prompt"><b>Keep updated with emails:</b></label>
        <input type="text" placeholder="johnapple@me.com">
        <button type="submit" class="signupbtn">Submit</button>
    </div>

</div>