<app-navigation></app-navigation>

<div id="body">

	<div class=articles>
		<div class="article1">
			<a href="https://www.energy.gov/eere/electricvehicles/electric-vehicle-benefits"><h3>Benefits of Electric Vehicles</h3></a>
			<p class="title">energy.gov</p>
		</div>

		<div class="article2">
			<a href="https://www.greencarreports.com/news/1127372_uk-company-claims-most-power-dense-electric-motor-for-evs">UK company claims most power-dense electric motor for EVs</a>
			<p class="title">greecarreports.com</p>
		</div>

		<div class="article3">
			<a href="https://www.greencarreports.com/news/1127373_electrify-america-hits-100-charging-stations-in-california">Electrify America hits 100 charging stations in California</a>
			<p class="title">greencarreports.com</p>
		</div>
	</div>

</div>

<app-bottominfo></app-bottominfo>