<app-navigation></app-navigation>

<div id="body">
	
	<div class="img1"></div>

	<div class="description">
		<h2 class="description-title">The Model β</h2>
		<p class="description-text">
			Our newest vehicle, the Model β, combines the impressive power of the Model ⍺ with previously unheard of levels of feature customizability. From color to battery size to hybrid functionality, the one-size-fits-all design of the Model β allows you, the user, to choose the features that suit you best. Like a well-fitted suit, the Model β gives the power to you.
		</p>
		<div class="learn-more"><a href="car2/#jump">View Details</a></div>
	</div>

	<div class="img2"></div>

	<div class="specs">
		<a name="jump"></a>
		<div class="spec">
			<h3>COMPLETE CUSTOMIZABILITY</h3>
			<div class="spec1img"></div>
		</div>

		<div class="spec">
			<h3>ONE SIZE FITS ALL</h3>
			<div class="spec2img"></div>
		</div>

		<div class="spec">
			<h3>225-450 MILE RANGE</h3>
			<div class="spec3img"></div>
		</div>

	</div>



</div>

<app-bottominfo></app-bottominfo>