<app-navigation></app-navigation>

<div id="body">
    <div class="image1"></div>

    <div class="about">
        
        <h2 class="text">Why Choose ARIN?</h2>
        <p class="text">
            ARIN is dedicated to providing the world with clean, sustainable, and practical electric cars. We cooperate with our partners around the globe to ensure that our vehicles are the cleanest, sleekest, and most up-to-date, all while keeping prices as low as possible. 
        </p>

    </div> 

    <div class="image2"></div>

    <div class="info1">
        <h2 class="text">Our Mission</h2>
        <p class="text">
            Over the past few years and decades, we have seen the negative effects of pollution and unchecked natural gas exploitation all over the world. ARIN hopes to accelerate the world’s transition towards clean vehicles and energy. With your help, ARIN hopes to achieve our ultimate goal of a cleaner, brighter tomorrow.
        </p>
    </div>

    <div class="image3"></div>

    <div class="info2">
        
        <h2 class="text">Electric Cars</h2>
        <p class="text">
            Over the past few years, because of stunning technological advancements and innovations, a viable alternative to the traditional automobile has finally materialized: the electric vehicle. Electric vehicles use Lithium-Ion batteries as their power sources, which allow them to run purely off of electricity provided by charging stations. In addition to their countless environmental benefits, modern electric cars are also more responsive, higher torque, and easier to maintain than many of their traditional counterparts. 
        </p>
    </div>

</div>

<app-bottominfo></app-bottominfo>