<div id="header">
    <div class="nav">
        
        <div class="dropdown">
            <button class="dropbtn">VEHICLES</button>
             <div class="dropdown-content">
                <a href="car1">MODEL ⍺</a>
                <a href="car2">MODEL β</a>
                <a href="car3">MODEL Ω</a>
             </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">SHOPPING</button>
             <div class="dropdown-content">
                <a href="inventory">INVENTORY</a>
             </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">FOR OWNERS</button>
             <div class="dropdown-content">
                <a href="news">ARIN NEWS</a>
             </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">ABOUT US</button>
             <div class="dropdown-content">
                <a href="abouttsa">TSA</a>
                <a href="aboutskyline">SKYLINE</a>
             </div>
        </div>

    </div>
</div>

<div  class="title">
    <a href="index.html" id="title">ARIN</a>
</div>