<app-navigation></app-navigation>

<div id="body">
	
	<div class="img1"></div>

	<div class="description">
		<h2 class="description-title">The Model ⍺</h2>
		<p class="description-text">
			The original ARIN car, the legendary Model ⍺ combines a sleek, stylish exterior with an impressive array of features. With a 0-60 acceleration of 4.3 seconds, an estimated range of over 300 miles, and our patented atmo-tech technology, the Model ⍺ is the ultimate in luxury.
		</p>
		<div class="learn-more"><a href="car1/#jump">View Details</a></div>
	</div>

	<div class="img2"></div>

	<div class="specs">
		<a name="jump"></a>
		<div class="spec">
			<h3>700 HORSEPOWER</h3>
			<div class="spec1img"></div>
		</div>

		<div class="spec">
			<h3>310 MILES / HOUR CHARGE RATE</h3>
			<div class="spec2img"></div>
		</div>

		<div class="spec">
			<h3>313 MILE RANGE</h3>
			<div class="spec3img"></div>
		</div>

	</div>



</div>

<app-bottominfo></app-bottominfo>